# Environments
.env
.venv
env/
venv/
ENV/

# Credentials
firebase-service-account.json
firebase-service-account.json
# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# OS
.DS_Store
Thumbs.db

*.pyc




